
header .navbar-nav .login-signup button{
    margin-left: 10px;
    border-radius: 10px; 
    height: 40px;
    width: auto;
    border: 2px solid rgb(245, 240, 240);
    padding: 10px 20px;
}

header .navbar-nav .login-signup button a{
    text-decoration: none;
    color: #1c2b33;
    padding: 0px 0 15px 0;
    font-size: initial;
}
/* header .navbar-nav .login-signup {
    
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    margin-right: 35px;
} */
