<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>CEase Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}">
  </head>
  <body style="margin: 0; padding: 0; background-color: #091a22eb;">
	<header style="background-color:#69e7f45c;;
		       height: 70px;
		       width: 100%;">
		<nav class="navbar-nav" style="display: flex;">
			<div class="navbar-brand">
				<a href=""><img class="logo-img" src="{{ url_for('static', filename='images/logo.svg') }}"
				style="height: 55px; 
				width: auto;
				margin: 10px 30px;"></a>
			</div>
			<div class="login-signup" style="margin: auto 35px 25px auto;">
				<button class="btn" style="background-color: yellowgreen;"><a href="{{ url_for('auth.login') }}">Login</a></button>
				<button class="btn" style="background-color: rgba(50, 187, 205, 0.671);"><a href="{{ url_for('auth.register') }}">Register</a></button>
			</div>
		</nav>
	</header>
	<main>

	</main>
	<footer style="color: white;
		       height: 40px;
		       line-height: 20px;
		       width: 100%;
		       bottom: 0px;
		       position: absolute;
		       text-align: center;">
	  Made in Jos
	</footer>
  </body>
</html>


