<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}"> -->

  </head>
  	{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	{% endblock %}
  <body style="margin: 0; padding: 0;">
	<section class="bkg" >
		
		
		<!-- body section -->
		{% block body %}
			<!-- nav-bar navigation -->
			{% block header %}
			
			{% endblock %}
			<!-- end nav-bar navigation -->







			<!--footer section -->
			{% block footer %}
			
			{% endblock %}
			<!--end footer section -->
		{% endblock %}
		<!--end body section -->

		
		
	</section>
  </body>
    

</html>
