{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block scripts %}{% endblock %}
	
	
		
	{% block body %}
		{% block header %}
		<!-- <header style="background-color: transparent;
				height: 70px;
				width: 100%;">
		</header> -->
			{% include "navbar.html" %}
		{% endblock %}

		<div class="home-contents">
			<div class="login-wrap col-7">
                <form method="post" action="{{url_for('main.index')}}" class="signin-form">
                    {{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.body(class="form-control", type="text", placeholder="Post") }}
						{% for error in form.body.errors %}
						<span style="color: #ffffff">{{ error }}</span>
						{% endfor %}
	
					</div>
					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary-submit">Post</button>
	
					</div>
                </form>        
            </div>


			<div class="posts">
				<h2 style="color: #fff3cd">Welcome {{ current_user.username }}!</h2>
				<ul class="posts">
					{% for post in posts %}
					<li class="post">
						<div class="post-date">{{ moment(post.publish_date).fromNow() }}</div> 
						<div class="post-author">
							<a href="{{ url_for('.index', username=post.poster.username) }}"> {{ post.poster.username }}
							</a> 
						</div>
						<div class="post-body">{{ post.content }}</div> 
					</li>
					{% endfor %}
				</ul>

			</div>

			<div class="side-contents">
				<div class="trends">
					<p>
						Surprisingly simple, this template extends the base template has expected, and then overrides the title and leftbody block sections. Inside, the leftbody uses two macros to render the posts and their pagination. The macros help us to reuse Jinja2 code and use it like functions, and also to hide some complexity.
The render_posts macro is in the macros.html that was imported at the top of the file. We use macros more or less like modules in Python, as shown in the following code:
					</p>
				</div>
				<div class="events">
					<p>Surprisingly simple, this template extends the base template has expected, and then overrides the title and leftbody block sections. Inside, the leftbody uses two macros to render the posts and their pagination. The macros help us to reuse Jinja2 code and use it like functions, and also to hide some complexity.
						The render_posts macro is in the macros.html that was imported at the top of the file. We use macros more or less like modules in Python, as shown in the following code:
					</p>
				</div>
			</div>

		</div>
		{% block footer %}
		<footer style="background-color: transparent;
				height: 20px;
				/* line-height: 60px; */
				width: 100%;
				bottom: 0px;
				position: absolute; 
				text-align: center;
				color: white;">
		Made in Jos
		</footer>
		{% endblock %}
	{% endblock %}

	
  </body>
</html>
